# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
coverage/

# Logs
*.log

# Env files
.env
.env.*.local

# OS/editor
.vscode/
.sixth/

# iOS/other local artifacts (if present)
uploads/
*.xcuserstate
